<div class="container background-color-">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">

      <div class="inside">

        <%= image_tag "logo.png", width:100 , class: "main-logo-styling logo-position img1" %>

        <%= button_to "play", practice_set_up_path, method: :get, class: "btn-styling btn-position-practice"%>

        <%= button_to "profile", profile_path , method: :get, class: "btn-styling btn-position-play"%>

        <%= button_to "log in", user_session_path , method: :get, class: "btn-styling btn-position-log-in"%>

        <%= button_to "log out", destroy_user_session_path,  :method => :delete %>

      </div>
    </div>
  </div>
</div>
