<body>
  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-info">
        <div class="avatar">

        </div>
        <h2>User Information</h2>
        <p>Avatar</p>
        <p>username: <%= current_user.username %></p>
        <p>email: <%= current_user.email %></p>
    </div>
    <div class="col-md-4">
      <div class="highscore">
        <h2>Highscore⚡️</h2>
        <%= current_user.high_score %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="further-info">
        <h2>Check out your words 🤟🏼</h2>
        <%= render "/shared/mastery_list" %>
      <div class="inside-arrow">
        <%= link_to "/home" do %>
          <%= image_tag "arrow.png" , class: "arrow" %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
</body>
