<%= image_tag "logo_small.png", class: "second-logo-styling" %>

<h2 class="choose-set-styling">Choose a set:</h2>

<div data-controller="selection">
  <%= simple_form_for "url_path", method: :get, data: {selection_target: "form"} do |f| %>
    <%= f.input :set, collection: @sets, label: false,
    input_html: {class: "dropbtn-styling form-select",
            data: {
              action: "input->selection#listWords",
              selection_target: "dropdown"
              }
            } %>
    <div data-selection-target="list"></div>
    <%= f.button :submit, "GO!", class: "btn-styling btn-position-go d-none",
        data: {
        selection_target: "button"
        } %>
  <% end %>
  <%= button_to "create set", "#", method: :get, class: "btn-styling btn-position-create-set"%>
</div>

<!-----create set ---->

<div class="container p-4">
<h2> Create a new set: </h2>
  <%= simple_form_for "word_set" do |f| %>
    <%= f.input :english, label: 'add word in english:' %>
    <%= f.input :german, label:'add a german word' %>
    <%= f.input :article, label:'add the right article' %>
    <%= f.button :submit, "add words to set", class: "btn-styling" %>
  <% end %>
</div>
