<h2 class="p-4 "> Please add words to set with the topic "<strong><%= @set.name %></strong>"</h2>

<!--------search------------>

<div class="row justify-content-center">
  <div class= "row">
    <div class="col-12 col-lg-6">
      <%= form_with url: "#", method: :get, class: "d-flex search-styling" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a word"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<div class="new-words-in-set" ></div>

<!----set is complete, go back to index ----->

<button class="btn-styling btn-position-finish-set">set is complete</button>

<!----all words ------------->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="inside-list-create-set">
        <h2 class="list-header-create-set"> Words available </h2>

          <% @all_words.each do |word| %>
          <div data-controller="create-new-instance" class="flexbox-create-set list-item-create-set" data-create-new-instance-url-value="<%= add_word_to_set_path(@set) %>" data-create-new-instance-word-id-value="<%= #???? %>" >

            <div data-create-new-instance-target="word"> <%= word.german %> - <%= word.english %>
            </div>

            <i data-action="click->create-new-instance#add_word" class="fa-regular fa-square-plus "></i>

          </div>
          <% end %>

      </div>
    </div>
  </div>
</div>
