<div data-controller="clear-form" data-id="<%= @set.id %>">
<h2 class="p-4 "> Please add words to set with the topic "<strong><%= @set.name %></strong>"</h2>

<!--------search------------>

<div class="row justify-content-center">
  <div class= "row">
    <div class="col-12 col-lg-6">
      <%= form_with url: "#", method: :get, class: "d-flex search-styling" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a word",
              data: {
              clear_form_target: "input",
              action: "input->clear-form#filter"
              }
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<div class="new-words-in-set" ></div>

<!----set is complete, go back to index ----->

<%= button_to "save my set", practice_set_up_path, method: :get, class: "btn-styling btn-position-finish-set"%>

<!----all words ------------->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="inside-list-create-set">
        <h2 class="list-header-create-set"> Words available </h2>
          <div data-clear-form-target="modal">
            <%= render partial: "shared/word-card", locals: { all_words: @all_words, set: @set } %>
          </div>
      </div>
    </div>
  </div>
        <div class="inside-arrow">
        <%= link_to "/practice_set_up" do %>
          <%= image_tag "arrow.png" , class: "arrow" %>
        <% end %>
</div>
</div>
